body {
	margin-bottom: 50%;
	background: url(https://img.freepik.com/free-photo/wooden-table-with-blurred-background_1134-14.jpg?size=626&ext=jpg);
	background-size: 100%;
	background-position: center;
	font-family: sans-serif;
	height: 80px;

}